body{
  margin: 0px;
}
ul.nav {
font-family: 'Roboto';
font-size: medium;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  position:fixed;
  top: 0;
  width: 100%;
}

li.nav {
  float:right;
}
li.nav-logo {
  float:left;
}

li.nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.nav a:hover{
  background-color: #fff;
  color:black;
}
