a.internal {
text-decoration:none; 
color:#fc6300;}
h1 {
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

h1.gallery-heading { 
  margin: 0;
  max-width: 40em;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-family: 'Brushed';
  font-size: 5em;
  line-height: 1.2;
}
h1.menu-title{
color:#fff;
font-family:'Roboto',;
font-size:3em;
padding-left:10%;
background-color:#000; }  

h2 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: 700;
  font-size: 1.25em;
  font-family: 'Roboto', sans-serif;
}

p.paragraph {
  margin-top: .4117647058823529em;
  padding-left: 1.7647058823529411em;
  max-width: 29.41176470588235em;
  color: #9b9b9b;
  font-size: 1.0625em;
  font-family: 'Roboto', sans-serif;
}

p.paragraph.copyright {
  margin-top: .8823529411764706em;
  margin-bottom: .5882352941176471em;
  max-width: none;
  color: #9b9b9b;
  text-align: center;
}

p.paragraph a.link {
  color: #fff;
}

p.paragraph.paragraph-1 {
  color: #9b9b9b;
}
p.paragraph.paragraph-note {
  color: #000000;
  font-size:5em;
}

div.note{
padding-left:10% }

lh.note-heading{
color:#000;
text-decoration: underline;
font-size:3em; }

li.note-list{
color:#858585;
font-size:3em; }

p.paragraph a.link:hover {
  text-decoration: underline;
}

span.text-element.img-caption {
  color: #c6c6c6;
  font-size: 1.0625em;
}

span.text-element span.caption-title {
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .14285714285714285em;
  font-weight: 700;
}

span.text-element.gallery-author {
  margin-top: 0;
  margin-bottom: 10.714285714285714em;
  color: #505050;
  font-size:1.875em;
  letter-spacing: .07142857142857142em;
}

span.text-element {
  font-family: 'Roboto', sans-serif;
}

span.text-element.contact-text {
  color: #9b9b9b;
  font-size: 1.0625em;
}

span.text-element.contact-text.light {
  margin-bottom: 1.1764705882352942em;
  color: #fff;
}

a.link-text.nav-item {
  padding-top: .35714285714285715em;
  padding-bottom: .35714285714285715em;
  padding-left: 0;
  border-bottom: .07142857142857142em solid rgba(255, 255, 255, .16);
  color: rgba(255, 255, 255, .6);
  text-align: right;
  font-size: 1em;
  -webkit-transition-duration: .2s;
     -moz-transition-duration: .2s;
      -ms-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
}

a.link-text {
  font-weight: 400;
  font-size: .875em;
  font-family: 'Roboto', sans-serif;
}

a.link-text.nav-item:hover {
  padding-right: .7142857142857143em;
  padding-bottom: .35714285714285715em;
  color: #fff;
  -webkit-transition-duration: .2s;
     -moz-transition-duration: .2s;
      -ms-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
}

a.link-button.chapter-link{
display:inline-block;
 padding: 22px 40px 20px;
  min-height: 40px;
  min-width:300px;
  margin:0 auto;
  background-color: #fc6300;
  color: #fff;
  font-weight: 300;
  font-size: 2em;
  text-decoration:none;
  text-align:center;

    justify-self: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
            align-self: center;
 }
a.link-button.chapter-link:hover{
background-color: #FFA163;
}

div.chapter{
 margin-right: auto;
  margin-left: auto;
  padding-top:4em;
  padding-bottom:4em;
  margin:0 auto; 
  
  display: grid;
    visibility: visible;
    vertical-align: baseline;
  
  /* border: 3.125em solid #fff; */
  }
/* Interaction Elements */

button[type=submit].contact-bt {
  border-top-left-radius: 0 0;
  border-top-right-radius: 0 0;
  border-bottom-right-radius: 0 0;
  border-bottom-left-radius: 0 0;
  background-color: #000;
  font-family: 'Roboto', sans-serif;
  cursor:e-resize;
}


button[type=submit].contact-bt:hover {
  background-color: #999999;
}

button.start{
  border-top-left-radius: 0 0;
  border-top-right-radius: 0 0;
  border-bottom-right-radius: 0 0;
  border-bottom-left-radius: 0 0;
  background-color: #000;
  /*font-family: 'Roboto', sans-serif;*/
  font-family:'Brushed';
}


button.start {
  background-color: #999999;
}

a.link-button.subject-link {
  position: relative;
  z-index: 500;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1.6em;
  padding-right: .8em;
  padding-left: .8em;
  width: 100%;
  border-top-left-radius: 0 0;
  border-top-right-radius: 0 0;
  border-bottom-right-radius: 0 0;
  border-bottom-left-radius: 0 0;
  background-color:  rgba(0, 0, 0, .85) none;
  text-align: right;
  font-size: 1.5625em;
  opacity: 0;
  -webkit-transition-duration: .2s;
     -moz-transition-duration: .2s;
      -ms-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
}

a.link-button.gallery-nav-link {
  position: relative;
  z-index: 500;
  margin-top: 0;
  margin-bottom: 0;
  padding: .6em .8em;
  width: 100%;
  border-top-left-radius: 0 0;
  border-top-right-radius: 0 0;
  border-bottom-right-radius: 0 0;
  border-bottom-left-radius: 0 0;
  background-color: rgba(0, 0, 0, .8);
  text-align: right;
  font-size: 1.5625em;
  line-height: 1.1;
  opacity: 1;
  -webkit-transition-duration: .2s;
     -moz-transition-duration: .2s;
      -ms-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
}

a.link-button.subject-link:hover {
  padding-top: .4em;
  background-color: rgba(0, 2, 0, .85);
  color: #fff;
  opacity: 1;
  -webkit-transition-duration: .2s;
     -moz-transition-duration: .2s;
      -ms-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
}

a.link-button.subject-link.white:hover {
  background-color: rgba(255, 255, 255, 0.85);
  color: rgb(14, 14, 14);

}

a.link-button.gallery-nav-link:hover {
  padding-top: .6em;
  background-color: transparent;
  color: #fff;
  opacity: 1;
  -webkit-transition-duration: .2s;
     -moz-transition-duration: .2s;
      -ms-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
}

input[type=email].email-field {
  margin-top: 0;
  margin-bottom: 1.1764705882352942em;
  padding: 0 0 .29411764705882354em;
  max-width: none;
  border-top-width: 0;
  border-top-style: none;
  border-right-width: 0;
  border-right-style: none;
  border-bottom-width: .058823529411764705em;
  border-bottom-style: solid;
  border-left-width: 0;
  border-left-style: none;
  background-color: transparent;
  color: #fff;
  font-size: 1.0625em;
  font-family: 'Roboto', sans-serif;
  -webkit-transition-duration: .2s;
     -moz-transition-duration: .2s;
      -ms-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
}

input[type=email].email-field:focus {
  border-bottom-color: #fff;
  box-shadow: none;
  -webkit-transition-duration: .2s;
     -moz-transition-duration: .2s;
      -ms-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
}

textarea.textarea {
  margin-bottom: 1.1764705882352942em;
  height: 8.823529411764707em;
  border-top-width: 0;
  border-top-style: none;
  border-right-width: 0;
  border-right-style: none;
  border-bottom-width: .058823529411764705em;
  border-bottom-style: solid;
  border-left-width: 0;
  border-left-style: none;
  background-color: transparent;
  color: #fff;
  font-size: 1.0625em;
  font-family: 'Roboto', sans-serif;
  -webkit-transition-duration: .2s;
     -moz-transition-duration: .2s;
      -ms-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
}

textarea.textarea:focus {
  border-bottom-color: #fff;
  box-shadow: none;
  -webkit-transition-duration: .2s;
     -moz-transition-duration: .2s;
      -ms-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
}

/* Layout Elements */

body > .row {
  max-width: none;
}

body > .row.header {
  height: 100%;
  background-color: #000;
  background-image: url('../header-bg.jpg');
  background-position: center center;
  background-size: cover;
}

body > .row.nav-row {
  position: fixed;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 600;
  min-width: 0;
  max-width: 9.375em;
  height: 100%;
  background-color: transparent;
}

body > .row > [class*='coffee-span-'].logo-col {
  position: static;
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:      -o-flex;
  display:         flex;
  height: 100%;
  background-color: rgba(0, 0, 0, .74);

  -webkit-align-items: center;
     -moz-align-items: center;
      -ms-align-items: center;
       -o-align-items: center;
          align-items: center;
}

body > .row > [class*='coffee-span-'].nav-col {
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:      -o-flex;
  display:         flex;
  -webkit-flex-direction: column;
     -moz-flex-direction: column;
      -ms-flex-direction: column;
       -o-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
  height: 100%;

  -webkit-justify-content: center;
     -moz-justify-content: center;
      -ms-justify-content: center;
       -o-justify-content: center;
          justify-content: center;
}

body > .row > [class*='coffee-span-'].subject-cover {
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:      -o-flex;
  display:         flex;
  padding-right: 0;
  padding-left: 0;
  height: 100%;
  border: 3.125em  solid #000 ;
  background-image: url('../news/news.jpg');
  background-position: center center;
  background-size: cover;
}

body > .row > [class*='coffee-span-'].subject-cover.white{
  border: 3.125em  solid rgb(255, 255, 255) ;
}

body > .row.subject-row {
  height: 50%;
  background-color: #000;
}

body > .row > [class*='coffee-span-'].subject-cover.discord-bot {
  background-image: url('../discord-bot/discord-bot.jpg');
}

body > .row > [class*='coffee-span-'].subject-cover.meme {
  background-image: url('../meme/meme.jpg');
}

body > .row > [class*='coffee-span-'].subject-cover.comment {
  background-image: url('../about/comment.jpg');
}

body > .row > [class*='coffee-span-'].subject-cover.software {
  background-image: url('../software/software.jpg');
}


body {
  background-color: #fff;
  margin:0;
}

body > .row > [class*='coffee-span-'].text-col {
  height: auto;
  border: 3.125em solid #000;
}


body > .row > [class*='coffee-span-'].discord.subject-cover {
  background-image: url('../discord/discord.jpg');
}

body > .row > [class*='coffee-span-'].junk.subject-cover {
  background-image: url('../junk/junk.jpg');
}

body > .row > [class*='coffee-span-'].social.subject-cover {
  background-image: url('../gallery/gallery.png');
}

body > .row.gallery-row {
  max-width: none;
  width: auto;
  height: auto;
}

body > .row > [class*='coffee-span-'].gallery-column {
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:      -o-flex;
  display:         flex;
  -webkit-flex-direction: column;
     -moz-flex-direction: column;
      -ms-flex-direction: column;
       -o-flex-direction: column;
          flex-direction: column;
  margin-top: 0;
  padding: 12.5em 3.125em;
  max-height: none;
  height: auto;

  -webkit-justify-content: center;
     -moz-justify-content: center;
      -ms-justify-content: center;
       -o-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
     -moz-align-items: center;
      -ms-align-items: center;
       -o-align-items: center;
          align-items: center;
}

body > .row.gallery-nav-row {
  height: 25%;
}


body > .row.about {
  height: auto;
}

body > .row.contact {
  background-color: #1f1f1f;
}

body > .row > [class*='coffee-span-'].contact.text-col {
  border-color: #1f1f1f;
}

body.grid-1 {
  background-color: #000;
  margin:0;
}
body.grid-1.white {
  background-color: rgb(255, 255, 255);
}
body > .row.contact:hover {
  background-color: #1f1f1f;
}

div.responsive-picture.logo {
  margin-right: auto;
  margin-left: auto;
  max-width: 25em;
}

a.responsive-picture.close-gallery-bt {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 6.25em;
  -webkit-transition-duration: .2s;
     -moz-transition-duration: .2s;
      -ms-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
}

a.responsive-picture.gallery-img {
  margin-top: 0;
  margin-bottom: .625em;
  max-width: 75em;
}

a.responsive-picture.gallery-img.portrait {
  max-width: 50em;
}

a.responsive-picture.close-gallery-bt:hover {
  opacity: .4;
  -webkit-transition-duration: .2s;
     -moz-transition-duration: .2s;
      -ms-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
}

@media screen and (max-width: 50em) {
  /* Text Elements */

  h1.gallery-heading {
    font-size: 3em;
    line-height: 1.2;
  }
  
  h6.menu-title{
font-size:2em; 
padding-left:5%;
background-color:#000;
}  
 h2{
    font-size: 1.125em;

  }

  h2.countdown {
    font-size: 1.125em;
    text-transform: lowercase;
  }

  p.paragraph {
    font-size: .9375em;
  }

  span.text-element.gallery-author {
    margin-bottom: 7.142857142857143em;
  }

  span.text-element.img-caption {
    font-size: .9375em;
  }

  span.text-element.contact-text.light {
    font-size: .9375em;
  }

  span.text-element.contact-text {
    font-size: .9375em;
  }

  a.link-text.nav-item {
    float: left;
    padding-right: .625em;
    width: 25%;
    text-align: center;
  }

  a.link-text.about-email-link {
    font-size: 3.75em;
  }

  a.link-text.nav-item:hover {
    padding-right: .625em;
  }

  /* Interaction Elements */

  a.link-button.gallery-nav-link {
    font-size: 1.375em;
  }

  a.link-button.subject-link {
   /* padding-top: .4em;
    background-color: transparent;
    background-image: -webkit-linear-gradient(180deg, rgba(0, 0, 0, .85) 0%, rgba(0, 0, 0, .00) 100%);
    background-image:    -moz-linear-gradient(180deg, rgba(0, 0, 0, .85) 0%, rgba(0, 0, 0, .00) 100%);
    background-image:     -ms-linear-gradient(180deg, rgba(0, 0, 0, .85) 0%, rgba(0, 0, 0, .00) 100%);
    background-image:      -o-linear-gradient(180deg, rgba(0, 0, 0, .85) 0%, rgba(0, 0, 0, .00) 100%);
    background-image:         linear-gradient(180deg, rgba(0, 0, 0, .85) 0%, rgba(0, 0, 0, .00) 100%);*/
    font-size: 1.25em;
    /*opacity: 1;*/
  }

  a.link-button.subject-link:hover {
    background-color: transparent;
    background-image: -webkit-linear-gradient(180deg, rgba(0, 0, 0, .85) 0%, rgba(0, 0, 0, .85) 100%);
    background-image:    -moz-linear-gradient(180deg, rgba(0, 0, 0, .85) 0%, rgba(0, 0, 0, .85) 100%);
    background-image:     -ms-linear-gradient(180deg, rgba(0, 0, 0, .85) 0%, rgba(0, 0, 0, .85) 100%);
    background-image:      -o-linear-gradient(180deg, rgba(0, 0, 0, .85) 0%, rgba(0, 0, 0, .85) 100%);
    background-image:         linear-gradient(180deg, rgba(0, 0, 0, .85) 0%, rgba(0, 0, 0, .85) 100%);
  }

  input[type=email].email-field {
    border-bottom-width: .13333333333333333em;
    font-size: .9375em;
  }

  textarea.textarea {
    border-bottom-width: .13333333333333333em;
    font-size: .9375em;
  }

  /* Layout Elements */

  body > .row > [class*='coffee-span-'].gallery-column {
    padding-top: 6.25em;
    padding-bottom: 6.25em;
  }

  body > .row > [class*='coffee-span-'].subject-cover {
    border-width: 1.5625em;
  }

  body > .row > [class*='coffee-span-'].about-cover {
    min-height: 43.75em;
    border-width: 1.5625em;
    border-color: #00f;
  }

  body > .row > [class*='coffee-span-'].text-col {
    border-width: 1.5625em;
  }

  body > .row.nav-row {
    position: absolute;
    max-width: none;
    height: auto;
  }

  body > .row > [class*='coffee-span-'].logo-col {
    background-color: rgba(0, 0, 0, .75);
  }

  body > .row > [class*='coffee-span-'].nav-col {
    display: block;
    -webkit-flex-direction: row;
       -moz-flex-direction: row;
        -ms-flex-direction: row;
         -o-flex-direction: row;
            flex-direction: row;
    padding-right: 0;
  }

  a.responsive-picture.close-gallery-bt {
    min-width: 0;
    max-width: 3.125em;
  }

  div.responsive-picture.logo {
    max-width: 15.625em;
  }
}

@media screen and (max-width: 28.125em) {
  /* Text Elements */

  h2 {
    font-size: 1em;
  }
  
  

  span.text-element.gallery-author {
    margin-bottom: 3.5714285714285716em;
    margin-left: 0;
  }

  span.text-element.img-caption {
    font-size: .875em;
  }

  a.link-text.nav-item {
    min-height: 0;
    width: 50%;
    font-size: .9375em;
  }

  a.link-text.about-email-link {
    font-size: 1.875em;
  }

  /* Interaction Elements */

  a.link-button.gallery-nav-link {
    font-size: 1em;
    line-height: 1.6;
  }

  input[type=email].email-field {
    border-bottom-width: .06666666666666667em;
  }

  textarea.textarea {
    border-bottom-width: .06666666666666667em;
  }

  /* Layout Elements */

  body > .row > [class*='coffee-span-'].gallery-column {
    margin-top: 0;
    padding: 3.125em .9375em;
  }

  body > .row > [class*='coffee-span-'].subject-cover {
    border-width: .9375em;
  }

  body > .row > [class*='coffee-span-'].text-col {
    border-width: .9375em;
  }

  body > .row > [class*='coffee-span-'].about-cover {
    min-height: 25em;
    border-width: .9375em;
  }
  }
  
  .collapsible {
  background-color: #fc6300;
  color: #fff;
  font-weight: 300;
  font-size: 2em;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

.active, .collapsible:hover {
  background-color: #FF944D;
}

.content {
  padding: 0 18px;
  font-size: 1.5em;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #fff;
  }
  
  