body {
    margin: 0;
	color: #000000;
}

ul {
    margin: 3px 0;
    padding: 0;
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px;
    column-gap: 10px;
}

li {
    position: relative;
}

img {
    width: 300px;
    object-fit: cover;
    border-radius: 7px;
}
