body,
html {
    height: 100%;
}

@font-face {
    font-family: 'Terror';
    src: url('../fonts/TERROR.ttf');
}

.coolfont {
    font-family: "Terror", sans-serif;
    color: white;
    text-align: center;
    display: block;
    font-size: 100px;
    text-shadow: 0px 11px 20px #000, 0px 9px 100px #000;
}

.header {
    width: 100%;
    height: 40%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: transparent;
    opacity: 0.8;
    color: rgb(0, 0, 0);
    padding: 18px;
    letter-spacing: 10px;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: black;
}

body {
    margin: 0px;
}

ul {
    margin: 0px;
    padding: 10px;
    width: auto;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 10px;
}

li {
    position: relative;
    padding: 2% 10%;
}

div.mainpage {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/texture.jpeg");
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

a:hover>div {
    box-shadow: 0px 0px 37px 11px #00d382;
}

div.mainpage div {
    padding: 10px;
}

div.mainpage img {
    width: 100%;
    border-radius: 20px;
}

div.mainrow {
    width: 100%;
}

.github-ribbon {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 150px;
    height: 150px;
    overflow: hidden;
    z-index: 99999;
}

.github-ribbon a {
    display: inline-block;
    width: 200px;
    overflow: hidden;
    padding: 6px 0px;
    text-align: center;
    transform: rotate(45deg);
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: inherit;
    top: 45px;
    right: -40px;
    border-width: 1px 0px;
    border-style: dotted;
    border-color: rgba(255, 255, 255, 0.7);
    font: 700 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 3px 0px;
    background-color: #9e9e9e;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
}


@media screen and (max-width: 650px) {
    ul {
        grid-template-columns: repeat(2, 1fr);
    }

    .coolfont {
        font-size: 80px;
    }

    .github-ribbon {
        display: none;
    }
}

@media (max-width: 540px) {
    .coolfont {
        font-size: 60px
    }
}

@media screen and (max-width: 400px) {
    ul {
        grid-template-columns: repeat(1, 1fr);
    }
}