.result {
    display: block;
    text-align: center;
}

.result {
    border: none;
    width: 100%;
}

.result td,
.result th {
    padding: 8px;
}

.result td img {
    width: 100%;
    border-radius: 20px;
}

.result tr {
    background-color: transparent;
    font-size: large;
}

.result th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: rgb(0, 0, 0);
}

button {
    font-family: inherit;
    font-size: large;
    box-shadow: inset 0 0 27px 0 rgb(255 255 255 / 40%), inset 0 0 26px 0 rgb(0 0 0 / 40%), inset 0 0 3px 5px rgb(0 0 0 / 5%), 2px 2px 4px 0 rgb(0 0 0 / 25%);
    background-color: #ffffff;
    color: black;
    border-width: 0;
    border-radius: 50px;
    padding: 9px 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

button:hover {
    cursor: pointer;
    background-color: #ffffffd6;
}

.result tr button {
    padding: 14px 25px;
    background-color: transparent;
}

.result tr button:hover {
    background-color: #ffffff;
}

input[type=text] {
    width: auto;
    box-sizing: border-box;
    border: 2px solid #fff0;
    font-family: inherit;
    border-radius: 50px;
    font-size: 16px;
    background-color: #ffffffd9;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    backdrop-filter: inherit;
    padding: 9px 0px 9px 16px;
    color: black;
    width: 80%;
}

#tablediv {
    height: 100%;
    
    background-color: #ffffff2e;
    border-radius: 20px;
    padding: 20px;
    backdrop-filter: blur(3px);
    display: none;
}

.tablepadding {
    overflow: hidden;
    /* height: 100%; */
    width: 100%;
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

a:link,
a:visited {
    font-size: large;
    box-shadow: inset 0 0 27px 0 rgb(255 255 255 / 40%), inset 0 0 26px 0 rgb(0 0 0 / 40%), inset 0 0 3px 5px rgb(0 0 0 / 5%), 2px 2px 4px 0 rgb(0 0 0 / 25%);
    background-color: #ff7a7a00;
    color: black;
    border-width: 0;
    border-radius: 20px;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    cursor: pointer;
    background-color: #ffffff;
}

@media screen and (max-width: 600px) {
    .result tr {
        font-size: 11px;
    }

    .result tr button {
        font-size: 10px;
        padding: 13px;
    }

    .result tr a {
        font-size: 10px;
        padding: 10px;
    }

    .result td img {
        border-radius: 5px;
    }
}

@media screen and (max-width: 500px) {
    .result tr {
        font-size: 9px;
    }

    .result tr button {
        font-size: 7px;
        padding: 5px;
    }

    .result tr a {
        font-size: 7px;
        padding: 5px;
    }
}

.inputdevfixed {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-around;
    width: 100%;
    background-color: #d7d7d700;
    backdrop-filter: blur(6px);
    padding: 12px 0px;
    z-index: 99;
}

#button {
    background-color: #ffffffbf;
    color: black;
    backdrop-filter: inherit;
    box-shadow: none;
}

@media (prefers-color-scheme: dark) {


    .result th {
        color: #fff;
    }

    .result td {
        color: #fff;
    }

    .result td img {
        filter: brightness(0.7);
    }

    button {
        box-shadow: inset 0 0 27px 0 rgb(255 255 255 / 40%), inset 0 0 26px 0 rgb(0 0 0 / 40%), inset 0 0 3px 5px rgb(0 0 0 / 5%), 2px 2px 4px 0 rgb(0 0 0 / 25%);
        background-color: #ffffff;
        color: black;
    }

    button:hover {
        cursor: pointer;
        background-color: #ffffffd6;
    }

    .result tr button {
        background-color: #4e4e4e73;
    }

    .result tr button:hover {
        background-color: #ffffff;
    }

    input[type=text] {
        border: 2px solid #fff0;
        font-family: inherit;
        background-color: #5a5a5a94;
        color: ghostwhite;
    }

    #tablediv {
        background-color: #ffffff24;
    }

    a:link,
    a:visited {
        box-shadow: inset 0 0 27px 0 rgb(255 255 255 / 40%), inset 0 0 26px 0 rgb(0 0 0 / 40%), inset 0 0 3px 5px rgb(0 0 0 / 5%), 2px 2px 4px 0 rgb(0 0 0 / 25%);
        background-color: #4e4e4e73;
        color: black;
    }

    a:hover,
    a:active {
        background-color: #ffffff;
    }

    .inputdevfixed {
        background-color: #0000007a;
        backdrop-filter: blur(6px);
    }

    #button {
        background-color: #5a5a5abf;
        color: ghostwhite;
    }

}