:root {
    --button-background: #ff7a7a00;
    --button-forground: black;
    --button-shadow: inset 0 0 27px 0 rgb(255 255 255 / 40%), inset 0 0 26px 0 rgb(0 0 0 / 40%), inset 0 0 3px 5px rgb(0 0 0 / 5%), 2px 2px 4px 0 rgb(0 0 0 / 25%);
    --button-hover: white;

    --button-shadow-dark: inset 0 0 27px 0 rgb(255 255 255 / 40%), inset 0 0 26px 0 rgb(0 0 0 / 40%), inset 0 0 3px 5px rgb(0 0 0 / 5%), 2px 2px 4px 0 rgb(0 0 0 / 25%);
    --button-background-dark: #4e4e4e73;
    --button-foreground-dark: black;
    --button-hover-dark: white;
}

.result {
    display: block;
    text-align: center;
}

.result {
    border: none;
    width: 100%;
}

.result td,
.result th {
    padding: 8px;
}

.result td img {
    width: 100%;
    border-radius: 20px;
}

.result tr {
    background-color: transparent;
    font-size: large;
}

.result th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: rgb(0, 0, 0);
}

button:hover {
    cursor: pointer;
    background-color: var(--button-hover);
}

.result tr button:hover {
    
background-color: #0e6dfd;
    color: white;}

input[type=text] {
    width: auto;
    box-sizing: border-box;
    border: 2px solid #fff0;
    font-family: inherit;
    border-radius: 14px;
    font-size: 16px;
    background-color: #ffffff;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    
    padding: 9px 0px 9px 16px;
    color: black;
    width: 80%;
box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);}

input[type=text]:focus-visible {
    outline: none;
    border: solid #0e6dfd;
    border-width: 3px;
}
#tablediv {
    height: fit-content;

    max-height: 100%;background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    
    display: none;
max-width: 90%;box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);}

.tablepadding {
    margin-top: 64px;height: calc(100vh - 123px);/* overflow: hidden; */
    width: 100%;
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

a:link, a:visited, button {
    font-size: large;
    
    font-family: inherit;box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);background-color: transparent;
    
    border-width: 2px;
    border-radius: 14px;
    color: #0e6dfd;border: solid #0e6dfd;padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    cursor: pointer;
    background-color: #0e6dfd;
color: white;}

@media screen and (max-width: 600px) {
    .result tr {
        font-size: 11px;
    }

    .result tr button {
        font-size: 10px;
        padding: 13px;
    }

    .result tr a {
        font-size: 10px;
        padding: 10px;
    }

    .result td img {
        border-radius: 5px;
    }
}

@media screen and (max-width: 500px) {
    .result tr {
        font-size: 9px;
    }

    .result tr button {
        font-size: 7px;
        padding: 5px;
    }

    .result tr a {
        font-size: 7px;
        padding: 5px;
    }
}

.inputdevfixed {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-around;
    width: 100%;
    background-color: #d7d7d700;
    backdrop-filter: blur(6px);
    padding: 12px 0px;
    z-index: 99;
}

#button {
    background-color: #0e6dfd;
    color: white;
    font-weight: bold;
    padding: 7px 30px;box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

@media (prefers-color-scheme: dark) {


    .result th {
        color: #fff;
    }

    .result td {
        color: #fff;
    }

    .result td img {
        filter: brightness(0.7);
    }

    button {
        /* box-shadow: var(--button-shadow-dark); */
        /* background-color: var(--button-background-dark); */
        /* color: var(--button-foreground-dark); */
    }

    button:hover {
        cursor: pointer;
        background-color: #ffffffd6;
    }

    .result tr button {
        /* background-color: var(--button-background-dark); */
    }

    .result tr button:hover {
        /* background-color: var(--button-hover-dark); */
    }

    input[type=text] {
        border: 2px solid #fff0;
        font-family: inherit;
        background-color: #3a3a3a;
        color: ghostwhite;
    }

    #tablediv {
        background-color: #121212;
    }

    a:link,
    a:visited {
        /* box-shadow: var(--button-shadow-dark); */
        /* background-color: var(--button-background-dark); */
        /* color: var(--button-foreground-dark); */
    }

    a:hover,
    a:active {
        /* background-color: var(--button-hover-dark); */
    }

    .inputdevfixed {
        
        backdrop-filter: blur(6px);
    }

    #button {
        /* background-color: #3a3a3a; */
        color: ghostwhite;
    }

}

img#thumbnail {}