.container {
    width: 80%;
    margin: 80px auto;
}

p {
    margin-left: 20px;
    color: #000000;
    line-height: 22px;
    font-size: 20px;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 40px;
}

li {
    padding: 0px 0px;
    background-color: #aca2ff63;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    overflow: hidden;
    cursor: pointer;
}

video:focus {
    outline: none;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    cursor: pointer;
}

#player {
    border-radius: 20px;
}

#videoPlayer {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    display: block;
}

@media (orientation: landscape) {
    #videoPlayer {
        height: 90%;
    }

    #player {
        height: 100%;
    }
}

@media (orientation: portrait) {
    #videoPlayer {
        width: 90%;
    }

    #player {
        width: 100%;
    }
}

.videopadding {
    background-color: #000000a4;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.topbar {
    padding: 5px 0px 7px 0px;
    width: 100%;
    background-color: rgb(255 255 255 / 42%);
    height: fit-content;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(6px);
    flex-wrap: nowrap;
}

.topbar button {
    width: 80%;
    height: fit-content;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    background-color: #99999940;
    border: none;
    backdrop-filter: inherit;
    border-radius: 10px;
    /* box-shadow: 0 0 6px 2px #000; */
}

.topbar button:hover,
.toolbar button:hover {
    background-color: #5e5e5e00;
}


#newpost div {
    font-size: 30px;
    display: flex;
    margin: 10px;
}

#newpost div label {
    font-size: 20px;
    width: 25%;
    display: inline-block;
}

#newpost div input,
#newpost div textarea {
    font-size: 20px;
    width: 75%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

#newpostpadding {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #00000061;
    backdrop-filter: blur(6px);
    position: fixed;
    left: 0;
    top: 0;
}

#newpostpadding>div {
    width: 50%;
    height: fit-content;
    font-size: 30px;
    padding: 30px;
    background-color: rgb(227 227 227);
    border-radius: 50px;
    /* box-shadow: 0 0 60px 35px #000; */
}

#newpostpadding>div>div.toolbar {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: fit-content;
}

.toolbar button {
    height: fit-content;
    width: 100%;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    background-color: #c9c9c9;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 6px 2px #000;
}

@media screen and (max-width: 700px) {
    #newpostpadding>div {
        width: 80%;
    }

    .title {
        font-size: 80px;
    }
}

@media screen and (max-width: 600px) {
    .topbar {
        flex-direction: column;
    }

    .topbar button {
        margin: 6px 0px 6px 0px;
    }
}

@media (prefers-color-scheme: dark) {

    p {
        color: white;
    }

    li {
        background-color: #424242a6;
    }

    #videoPlayer {
        background-color: white;
    }

    .videopadding {
        background-color: #000000a4;
    }

    .topbar {
        background-color: rgba(0, 0, 0, 0.534);
    }

    .topbar button {
        background-color: #8383839c;
        box-shadow: 0 0 15px 2px #000;
    }

    .toolbar button {
        background-color: #3e3e3e;
        box-shadow: 0 0 15px 2px #000;
    }

    .topbar button:hover,
    .toolbar button:hover {
        background-color: #5e5e5e;
    }

    #newpost div input,
    #newpost div textarea {
        border: 1px solid #ccc;
    }

    #newpostpadding>div {
        background-color: rgb(76 75 75);
        box-shadow: 0 0 60px 35px #000;
    }


}