.container {
    width: 80%;
    margin: 80px auto;
}
p {
    margin-left: 20px;
    color: #000000;
    line-height: 22px;
    font-size: 20px;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 40px;
}

li {
    padding: 0px 0px;
    background-color: ghostwhite;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
}

.video-player {
    height: 80%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    overflow: hidden;
}

video:focus {
    outline: none;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    cursor: pointer;
}